In [4]:
import pandas as pd

df_excel = pd.read_excel('https://github.com/kamilo44/excel_prueba/blob/master/datos.xlsx?raw=true')

In [5]:
df_excel.head()

,numero_de_cuenta,nombre_del_cliente,saldo_actual,fecha_ultima_transaccion
0,8661881,William Efrain Herrera William,5191000,43881
1,1653390,Jose Fausto Jose,8511203,44523
2,1019154,Elena Amparo Peregrino Elena,13634469,43411
3,2074929,Maria Amparo Aragon Maria,7766805,44344
4,8166429,Guefry Leider Mendez Guefry,4320366,44718